<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Atmospheric Forecasting Using Data Science</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Weather Predictor for 0-hr forecast </h1>
    <h2>Created By: Data Stormers</h2>
    
    <br/>
    Upload GRIB1 file for model prediction.
    <!-- Upload GRIB1 file -->
    <form action = "/gribUpload" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <br><br>
        <input type = "submit"/>
        <input type = "reset" onclick="remove(this);"/>
    </form>  
    <br/>
    <!-- Download results -->
    <a href="/getCSV">Download CSV Results!</a>
    <a href="/getPNG">Download PNG Results!</a>
    <br/>
    <!-- Output results as an image-->
    <!--<img src={{ url_for('static', filename='zero_hour_plot.png') }}" class="image" alt="Zero Hour Plot"/>-->
    Zero Hour Forecast Plot for File: {{filename}} 
    <br/>
    <!--<img id="plotimg" src="static/prediction_output.png" hidden="" alt="Zero Hour Plot"/>-->
    
    <script>
      let image_loaded = false;
      let showplot = button => {
        let element = document.getElementById("plotimg");
        let hidden = element.getAttribute("hidden");
        element.removeAttribute("hidden");

        // Wait until the image is available before refreshing the page
        if (!image_loaded) {
          let img = new Image();
          img.onload = function() {
            image_loaded = true;
            window.location.reload();
          };
          img.src = "static/prediction_output.png";
        }
      }
      
      let remove = button => {
        let element = document.getElementById("plotimg");
        let hidden = element.getAttribute("hidden");
        element.setAttribute("hidden","hidden");
      }
    </script>
    
    <!-- Output results as a table-->
    <!--
    <table class="table">
        <tr class="table_header">
          {% for header in headings %}
          <th class="table_cell">{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="table_row">
          {% for cell in row %}
          <td class="table_cell">{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}

    </table>-->

  </body>
</html>
