<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather Predictor: 12hr -> 0hr</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Weather Predictor: 12hr -> 0hr </h1>
    <h2>Created By: Data Stormers</h2>
    
    <!-- Upload GRIB1 file -->
    <form action = "/gribUpload" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <br><br>
        <input type = "submit"/>
        <input type = "reset"/>
    </form>  

    <!-- Download results -->
    <a href="/getCSV">Download Results!</a>
    <br/>
    <!-- Output results as an image-->
    <img src={{ url_for('static', filename='https://data-detectives.herokuapp.com/Output/zero_hour_plot.png') }}" class="image" alt="Zero Hour Plot"/>

    <!-- Output results as a table-->
    <table class="table">
        <tr class="table_header">
          {% for header in headings %}
          <th class="table_cell">{{ header }}</th>
          {% endfor %}
        </tr>
        {% for row in data %}
        <tr class="table_row">
          {% for cell in row %}
          <td class="table_cell">{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}

    </table>

  </body>
</html>